/* 


.smooch-sans-light {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 300;
}

.smooch-sans-regular {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 400;
}

.smooch-sans-bold {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 700;
} */


.smooch {
  font-family: "Smooch", cursive;
}

.Chelsea{
  font-family: "Chelsea Market",sans-serif;
}
